---
import type { Page, GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import PageLayout from "@/layouts/Base";
// import PostPreview from "@/components/blog/PostPreview";
// import Pagination from "@/components/Paginator";
import { getAllPosts, getUniqueTags, sortMDByDate } from "@/utils";

export const getStaticPaths = (async ({ paginate }) => {
	const allPosts = await getAllPosts();
	const allPostsByDate = sortMDByDate(allPosts);
	const uniqueTags = getUniqueTags(allPosts);
	return paginate(allPostsByDate, { props: { uniqueTags }, pageSize: 10 });
}) satisfies GetStaticPaths;

interface Props {
	page: Page<CollectionEntry<"post">>;
	uniqueTags: string[];
}

const { page, uniqueTags } = Astro.props;

const meta = {
	title: "Education",
	description: "My Education recieved.",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			url: page.url.prev,
			text: `← Previous Posts`,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			url: page.url.next,
			text: `Next Posts →`,
		},
	}),
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-3 text-3xl">Education</h1>
	<div class="grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8">
		<!-- I would like to add my education recieved -->
		<div class="bg-secondary mb-3 mt-4">
			<ul class="list-inside list-disc">
				<h1 class="text-xl font-bold text-accent">Bachelor of Computer Science</h1>
				<p class="mb-2 font-bold">September 2019 - August 2023</p>
				<li>Honours Degree</li>
				<li>Certificate in Artificial Intelligence and Intelligent Systems</li>
			</ul>
		</div>
	</div>
</PageLayout>
